a {
  color: blue;
}

header {
  font-size: 50px;
  text-align: center;
  border-bottom: 4px solid;
  margin: 0px;
}

#mainBody{
  display: grid;
  grid-template-columns: auto 1fr;
}

#mainList{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  border-right: 2px solid black;
}

#year-month, .nav{
  text-align: center;
  margin: 10px;
}

table.calendar{
  border-collapse: collapse;
}

thead{
  font-weight: bold;
  background-color: lightgray;
  font-size:30px;
}

th{
  border: 2px solid black;
  padding: 10px;
}

td{
  border: 2px solid black;
  text-align: center;
  padding: 20px;
}

.Saturday{
  color:blue;
}
.Sunday{
  color:red;
}
.prevDate, .nextDate{
  color: gray;
}